# mysql-shell命令

## 登录和账户管理

### 创建一个用户

`grant all privileges on *.* to 'arvin'@'%' identified by 'arvin123' with grant option;`

第一个 `*` 符号代表所有数据库，第二个 `*` 符号代表所有数据表，arvin表示数据库用户名。`%`符号代表所有主机

### 删除一个用户

drop user arvin

### 移除一个用户的权限

revoke alter on *.*  from 'arvin'@'%';

### 查看mysql进程列表

show processlist;

### 以root用户登录mysql

mysql -u root -p
输入password,回车

### 更改root用户密码

## 数据库基本操作

### 创建数据库

create database test;

### 查看已有数据库

show databases;

### 删除数据库

drop database test;

### 修改数据库编码

alter database test CHARACTER SET utf8;

### 使用指定名称数据库

use test;

### 查看mysql相关存放目录

show variables like '%dir%';

### 显示当前mysql版本和当前日期

select version(), current_date;

### 备份数据库

## 表的基本操作

### 查看所有表

show tables;

### 创建一个表

create table user(
    id int(10) not null auto_increment primary key, 
    name varchar(40), 
    sex varchar(10)) charset=utf8;

### 重命名表

 alter table t1 rename t2;

### 显示一个表的结构

describe user;

或者

show columns from user;

### 删除一个表

drop table user;

### 删除表所有数据，不会重置自增的ID

delete from user;

### 插入一条记录

insert into users(name, sex) values('arvin', 'male');