# sql语法

新增表一列: `alter table <table name> add <col name> varchar(10);`

删除表一列: `alter table <table name> drop column <col name>;`